body {
    font-family: sans-serif;
  }
  
  .horizontal-container {
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    overflow-x: scroll;
    user-select: none;
  
    width: 660px;
  }
  
  .ticket {
    height: 400px;
    min-width: 200px;
    position: relative;
    background-color: #dadada;
    margin: 30px 10px;
    border-radius: 10px;
  
    transition: transform 150ms ease-in-out;
  }
  
  .ticket::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: white;
    top: 15px;
    left: 15px;
  }
  
  .ticket:nth-of-type(3n) {
    background-color: rgb(150, 194, 231);
  }
  
  .ticket:nth-of-type(3n + 1) {
    background-color: rgb(194, 231, 150);
  }
  
  .ticket:nth-of-type(3n + 2) {
    background-color: rgb(145, 52, 64);
  }
  
  .moving-left {
    transform: rotateZ(7deg) translateX(-10px);
  }
  
  .moving-right {
    transform: rotateZ(-7deg) translateX(10px);
  }
  
  .controller {
    width: 200px;
    margin: 0 auto;
  }
  
  button {
    width: 80px;
    height: 30px;
    margin: 5px;
  
    border-radius: 4px;
    border: 1px solid #777;
  }
  